<a href="https://colab.research.google.com/github/nazgul19/big_data/blob/main/assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = {'Tid' : [1,2,3,4,5,6,7,8,9,10],
        'Refund':['Yes','No','No','Yes','No','No','Yes','No','No','No'],
        'Marital Status':['Single','Married','Single','Married','Divorced',
                          'Married','Divorced','Single','Married','Single'],
        'Taxable Income':['125K','100K','70K','120K','95K','60K','220K','85K',
                          '75K','90K'],
        'Cheat':['No','No', 'No','No','Yes','No','No','Yes','No','Yes']}
df = pd.DataFrame(data)
print(df)

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
1    2     No        Married           100K    No
2    3     No         Single            70K    No
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No
9   10     No         Single            90K   Yes

In [5]:
print(df[0:1])

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No

In [7]:
"""Locate row 0,4,7,8"""
df.iloc[0]

Tid                    1
Refund               Yes
Marital Status    Single
Taxable Income      125K
Cheat                 No
Name: 0, dtype: object

In [8]:
df.iloc[4]

Tid                      5
Refund                  No
Marital Status    Divorced
Taxable Income         95K
Cheat                  Yes
Name: 4, dtype: object

In [9]:
df.iloc[7]

Tid                    8
Refund                No
Marital Status    Single
Taxable Income       85K
Cheat                Yes
Name: 7, dtype: object

In [10]:
df.iloc[8]

Tid                     9
Refund                 No
Marital Status    Married
Taxable Income        75K
Cheat                  No
Name: 8, dtype: object

In [14]:
url = "https://raw.githubusercontent.com/AnjulaMehto/MCA/main/data.csv"
df = pd.read_csv(url)
print(df.head(5))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0